:root {
  --primaryColor: #1abc9c;

  --secondaryColor: #ecf0f1;
  --thirdColor: #34495e;
  --textColor: grey;
}

.quizzes {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--secondaryColor);
  padding-top: 5rem;
  background-color: var(--secondaryColor);
  background: rgba(26, 188, 156, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.quiz-card {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(26, 188, 156, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 1rem 3rem;

  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.quiz-name-heading {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  color: var(--secondaryColor);
}
.quiz-name-heading:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
