:root {
  --primaryColor: #1abc9c;

  --secondaryColor: #ecf0f1;
  --thirdColor: #34495e;
  --textColor: grey;
}
#quiz-header {
  height: 100px;
}
.quiz {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primaryColor);
  padding: 3rem;
  padding-top: 11rem;
}
.toggle {
  width: 80%;
}
.question-card-div {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.next-btn-div {
  width: 100%;
  height: 10%;
}
#button {
  background-color: var(--thirdColor);
  width: 10rem;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.1rem;
}
#home-button {
  background-color: var(--thirdColor);
  color: var(--primaryColor);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 3%;
  right: 2%;
}

#loader {
  color: var(--thirdColor);
  position: fixed;
  bottom: 3%;
  left: 1.5%;
}
