:root {
  --primaryColor: #1abc9c;

  --secondaryColor: #ecf0f1;
  --therdColor: #34495e;
  --textColor: grey;
}
#quiz-header {
  height: 100px;
}
.quiz {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primaryColor);
  padding: 3rem;
  padding-top: 11rem;
}
.toggle {
  width: 80%;
}
.question-card-div {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.next-btn-div {
  width: 100%;
  height: 10%;
  /* margin: 1rem; */
}
#button {
  background-color: var(--therdColor);
  width: 10rem;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.1rem;
}
