.score-card {
  width: 700px;
  height: 500px;
  border: 2px solid gray;
  border-radius: 10px;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondaryColor);
  z-index: 1;
}
