:root {
  --primaryColor: #1abc9c;

  --secondaryColor: #ecf0f1;
  --therdColor: #34495e;
  --textColor: grey;
}

.header {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 300px;
  /* background-color: var(--therdColor); */

  background: rgba(52, 73, 94, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;

  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  /* align-items: center;
  justify-content: center; */
}
.header-heading {
  font-size: 2.5rem;
  color: var(--primaryColor);
}
