.App {
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #1abc9c;

  --secondaryColor: #ecf0f1;
  --thirdColor: #34495e;

  --textColor: grey;
}

.link {
  text-decoration: none;
}
