:root {
  --primaryColor: #1abc9c;

  --secondaryColor: #ecf0f1;
  --textColor: grey;
}

.question-card {
  width: 700px;
  height: 500px;
  border: 2px solid gray;
  border-radius: 10px;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: var(--secondaryColor);
  font-size: 1.1rem;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.question {
  width: 80%;
  text-align: initial;
  padding: 1rem;
  margin-left: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
}
.options {
  width: 50%;
  text-align: initial;
  padding: 1rem;
  margin-left: 1rem;
}
.option {
  width: 80%;
  text-align: initial;
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.right {
  color: var(--textColor);
  background: rgba(104, 185, 16, 0.5);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.wrong {
  color: var(--textColor);

  background: rgba(212, 22, 22, 0.5);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
